<div class="container bg-primary text-light py-1">
    <header class="text-center">
        <h3 class="display-6">Employee Details</h3>
    </header>
</div>
<section class="container my-2 bg-primary w-50 text-light p-2">
 <form class="row g-3 p-3">
     <div class="col-md-4">
         <label for="validationDefault01" class="form-label">Employee_code</label>
         <input type="text" class="form-control" id="validationDefault01" value="" required>
       </div>
       <div class="col-md-4">
         <label for="validationDefault02" class="form-label">Name</label>
         <input type="text" class="form-control" id="validationDefault02" value="" required>
       </div>
       <div class="col-md-4">
        <label for="inputState" class="form-label">Qualification</label>
        <select id="inputState" class="form-select">
          <option selected>M.Tech</option>
          <option>B.Tech</option>
          <option>phd</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Gender</label>
        <select id="inputState" class="form-select">
          <option selected>Male</option>
          <option>Female</option>
          <option>others</option>
        </select>
      </div>
     <div class="col-md-4">
       <label for="inputPassword4" class="form-label">Join Date</label>
       <input type="date" class="form-control" id="inputPassword4">
     </div>
      <div class="col-md-4">
         <label for="validationDefaultUsername" class="form-label">PAN Number</label>
         <div class="input-group">
           <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
         </div>
       </div>
     <div class="col-md-4">
       <label for="inputAddress" class="form-label">Aadhar Number</label>
       <input type="text" class="form-control" id="inputAddress" >
     </div>
     <!-- <div class="col-md-4">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div> -->
      <div class="col-md-4">
        <label for="inputState" class="form-label">PF flag</label>
        <select id="inputState" class="form-select">
          <option>y</option>
          <option>n</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputAddress" class="form-label">PF number</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">ESI flag</label>
        <select id="inputState" class="form-select">
          <option>y</option>
          <option>n</option>
        </select>
      </div>
     <div class="col-md-4">
       <label for="inputAddress2" class="form-label">ESI number</label>
       <input type="text" class="form-control" id="inputAddress2">
     </div>
     <div class="col-md-4">
        <label for="inputAddress2" class="form-label">category</label>
        <input type="text" class="form-control" id="inputAddress2">
      </div>
     <div class="col-md-4">
       <label for="inputCity" class="form-label">Basic</label>
       <input type="text" class="form-control" id="inputCity">
     </div>
     <div class="col-md-4">
       <label for="inputState" class="form-label">Department</label>
       <select id="inputState" class="form-select">
         <option selected>Choose...</option>
         <option>...</option>
       </select>
     </div>
     <div class="col-md-4">
       <label for="inputZip" class="form-label">HouseNo</label>
       <input type="text" class="form-control" id="inputZip">
     </div>
     <!-- <div class="col-12">
       <div class="form-check">
         <input class="form-check-input" type="checkbox" id="gridCheck">
         <label class="form-check-label" for="gridCheck">
           Check me out
         </label>
       </div>
     </div> -->
     <div class="col-md-4">
        <label for="inputZip" class="form-label">Street</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">City</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">PinCode</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">State</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">phone number</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">Email</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Consolidated/Regular Flag</label>
        <select id="inputState" class="form-select">
          <option selected>c</option>
          <option>r</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">special pay</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">Bank Name</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">Account Number</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">Bank IFSC</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-4">
        <label for="inputZip" class="form-label">Resignation Date</label>
        <input type="date" class="form-control" id="inputZip">
      </div>
      
     <div class="col">
       <button type="submit" class="btn btn-success"(click)="Insert()">Submit</button>
     </div>
   </form>
</section>
<!-- //Employee -->
